<div
  class="bg-dark text-light text-center p-3 d-flex justify-content-evenly p-5 flex-sm-column gap-sm-5 flex-md-row"
>
  <div>
    <h3>LOCATION</h3>
    <p>2215 John Daniel Drive</p>
    <p>Clark, MO 65243</p>
  </div>
  <div>
    <h3>AROUND THE WEB</h3>
    <div class="d-flex justify-content-evenly">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-dribbble"></i>
    </div>
  </div>
  <div>
    <h3>ABOUT FREELANCER</h3>
    <p>
      Freelance is a free to use, MIT licensed Bootstrap theme created by Route
    </p>
  </div>
</div>
