<div class="vh-100 d-flex justify-content-center align-items-center bg-success">
  <div class="text-center text-white">
    <h3 class="fs-1">ABOUT COMPONENT</h3>
    <span><i class="fa fa-star"></i></span>
    <div class="d-flex justify-content-evenly mt-5">
      <div class="w-25">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </div>
      <div class="w-25">
        Freelancer is a free bootstrap theme created by Route. The download
        includes the complete source files including HTML, CSS, and JavaScript
        as well as optional SASS stylesheets for easy customization.
      </div>
    </div>
  </div>
</div>
