<div class="vh-100 d-flex justify-content-center bg-success pt-5 mt-5">
  <div class="text-center text-white w-50">
    <h3 class="fs-1">CONTACT</h3>
    <span><i class="fa fa-star"></i></span>
    <form class="mt-5 w-100 d-flex flex-column gap-4">
      <input class="form-control" type="text" placeholder="Username" />
      <input class="form-control" type="email" placeholder="Email" />
      <input class="form-control" type="number" placeholder="Age" />
      <input class="form-control" type="password" placeholder="Password" />
      <button class="btn btn-primary" type="submit">click</button>
    </form>
  </div>
</div>
