<div class="d-flex justify-content-center bg-success pt-5 mt-5 h-100 pb-5">
  <div class="text-center text-white">
    <h3 class="fs-1">START FRAMEWORK</h3>
    <span><i class="fa fa-star"></i></span>
    <div
      class="d-flex justify-content-center flex-wrap gap-5 mt-4 flex-sm-column flex-md-row align-content-center"
    >
      <img src="../../assets/poert1.png" alt="" class="col-md-3 col-sm-10" />
      <img src="../../assets/poert1.png" alt="" class="col-md-3 col-sm-10" />
      <img src="../../assets/poert1.png" alt="" class="col-md-3 col-sm-10" />
      <img src="../../assets/poert1.png" alt="" class="col-md-3 col-sm-10" />
      <img src="../../assets/poert1.png" alt="" class="col-md-3 col-sm-10" />
      <img src="../../assets/poert1.png" alt="" class="col-md-3 col-sm-10" />
    </div>
  </div>
</div>
