/* You can add global styles to this file, and also import other style files */
span {
  position: relative;
}
span:not(.navbar-toggler-icon)::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: white;
  margin: 10px auto;
  position: absolute;
  left: px;
  right: 30px;
  top: 0;
  bottom: 0;
}
span:not(.navbar-toggler-icon)::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: white;
  margin: 10px auto;
  position: absolute;
  left: 30px;
  right: 0px;
  top: 0;
  bottom: 0;
}
.active {
  background-color: green;
  border-radius: 10px;
}
